#include "secrets/wifi_configs.h"

const char WIFI_SSID[] = "eduroam";
const char WIFI_PASSWORD[] = "";

const char EAP_IDENTITY[] = "b1234567";  // if connecting from another corporation, use identity @organisation.domain in Eduroam
const char EAP_USERNAME[] = "b1234567";
const char EAP_PASSWORD[] = "your_password";  // your Eduroam password
